.idea
.vscode
node_modules
.env
.DS_Store
docker-compose.*yml
docker-compose.yml.*
!docker-compose.e2e.yml
!docker-compose.yml
.scannerwork
coverage
*.log
build
docker/dev/datastore
config/all.override.yaml
tmp
/.npmrc
