version: '3.4'

x-common:
  volumes: &volumes
    - build:/app/build/
    - .:/app:delegated
    - ./.env.dist:/app/build/.env.dist
    - ./.env:/app/build/.env

services:
  builder:
    volumes: *volumes

  js:
    volumes: *volumes

  boilerplate_api:
    volumes: *volumes
    depends_on:
      - adminer
      - postgres

  adminer:
    image: adminer
    restart: always
    depends_on:
      - postgres
    ports:
      - 8080:8080
    networks:
      - app
