version: '3.4'

x-common:
  volumes: &volumes
    - .:/app:delegated
    - build:/app/build/
    - ./node_modules:/app/node_modules/
    - node_dev:/usr/local/lib/node_modules/node-dev/


services:
  builder:
    volumes: *volumes
  js:
    volumes: *volumes

  percent_api:
    volumes: *volumes

networks:
  app:

volumes:
  build:
  node_dev:
