version: '3.4'

services:
  boilerplate_api:
    volumes:
      - boilerplate_api-sync:/app/build:nocopy

  adminer:
    image: adminer
    restart: always
    depends_on:
      - postgres
    ports:
      - 8080:8080
    networks:
      - app

volumes:
  boilerplate_api-sync:
    external: true