# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Express Boilerplate

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: cp .env.dist .env
    - run: cp docker-compose.override.yml.dist docker-compose.override.yml
    - run: npm install
    - run: npm run docker-build
    - run: npm run lint
    - run: npm run units
    - run: npm run integration
